<div
  class="flex justify-center gap-36 tablet:gap-20 phone:gap-10 text-xl text-gray-500 pt-6 tablet:min-h-screen tablet:w-full phone:w-full"
>
  <div class="food">
    <ng-container *ngIf="data | async as foodData">

        <form action="" [formGroup]="foodItems">
      <div *ngFor="let food of foodData; index as i" class="mb-6">
        <div class="flex justify-between gap-36">
          <p>{{ food["food"] }}</p>
          <p class="text-right">{{ food["price"] }}</p>

          <div class="button flex">
            <button
              class="rounded px-2 text-2xl font-semibold text-green-500"
              min="1"
              (click)="increment(i,food)"
            >
              +
            </button>
            <input class="w-6" [formControlName]="food['food'].replace(' ', '').replace(' ', '')" [value]="food['qty']" />
            <button [disabled]="isDisabled"
              class="rounded px-2 text-2xl font-semibold text-red-500"
              (click)="decrement(i,food)"
            >
              -
            </button>
          </div>
        </div>
      </div>
    </form>

    </ng-container>
  </div>
  <!-- <div class="price">
    <p class="pb-6 font-bold">Price</p>
    <div *ngFor="let price of foodData">
      <p>{{ price["price"] }}</p>
      <br />
    </div>
  </div> -->

<!-- <button (click)="getVal()">Submit</button> -->
</div>

<app-footer class="bottom-0 fixed w-full"></app-footer>


