<div class="flex justify-center gap-10 text-xl text-gray-500 pt-6">
  <div class="food">
    <p class="pb-6 font-bold">Dish</p>
    <div *ngFor="let food of foodData">
      <p>{{ food["food"] }}</p>
      <br />
    </div>
  </div>
  <div class="price">
    <p class="pb-6 font-bold">Price</p>
    <div *ngFor="let price of foodData">
      <p>{{ price["price"] }}</p>
      <br />
    </div>
  </div>
  <div class="quantity">
    <p class="pb-6 font-bold">Quantity</p>
    <div class="adder-component mb-8" *ngFor="let quantity of foodData">
      <ng-container *ngIf="btn">
        <button class="rounded px-1 pt-0 pb-0 text-xl font-semibold" (click)="increment()"> + </button>
      {{count}}
      <button class="rounded px-1 pt-0 pb-0 text-xl font-semibold" (click)="decrement()"> - </button>
      </ng-container>
      <ng-container *ngIf="less">
        <p class="text-red-400">Very few left!</p>
      </ng-container>
      <ng-container *ngIf="over">
        <p class="text-red-400">Sold Out!</p>
      </ng-container>
    </div>
  </div>
</div>
