<div class="main-container w-full bg-[#EE4646] h-[70px] text-white fixed">
  <div class="flex justify-between content-center pt-6">
    <div class="logo pl-4">
      <p class="text-2xl font-semibold">FoodieApp</p>
    </div>
    <div class="nav-elements pr-8"></div>
  </div>
</div>


<div class="main-container">
  <div class="imagebg">
    <img src="/assets/Group 2.png" alt="" />
  </div>
  <div class="addItems pt-10 flex justify-center">
    <div class=" border rounded w-1/4 px-6 pt-4 text-gray-500">
      <p class="text-center text-4xl ">Add Items here:</p>
      <div class="grid grid-rows-1 justify-center form-container pt-6 pb-6 w-full">
        <form [formGroup]="addItems" (submit)="addToDb()" id="Form" class="w-full">
          <div class="w-full">
            <p class="text-xl" for="">Food</p>
            <input id="food" class="input border" type="text" formControlName="food" />
          </div>
          <!-- <br /> -->
          <div class="w-full">
            <p class="text-xl" for="">Price</p>
            <input id="price" class="input border" type="number" formControlName="price" />
          </div>
          <!-- <br /> -->
          <div class="w-full">
            <p class="text-xl" for="">Quantity</p>
            <input
              class="input border" formControlName="quantity" id="quantity">
          </div>
          <!-- /><br /> -->
          <div class="flex justify-center">
            <button class="px-2 py-1 text-xl bg-red-400 hover:bg-red-300 text-white rounded " type="submit">Submit</button>
          </div>
          <div *ngIf="status" class="flex justify-center items-center h-full">
            <div class="loader" ></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="removeItems mt-6">
    <div class="flex justify-center">
      <button (click)="removeDb()" class="px-2 py-1 text-xl bg-red-400 hover:bg-red-300 text-white rounded ">Remove All</button>
    </div>
    <div *ngIf="statusTwo" class="flex justify-center items-center h-full mt-4">
      <div class="loader" ></div>
    </div>
  </div>
</div>
